# B2B Contact Services (Ücretsiz planlar)
# https://hunter.io - 25 arama/ay ücretsiz
HUNTER_API_KEY=

# https://snov.io - 50 kredi/ay ücretsiz
SNOV_API_CLIENT_ID=
SNOV_API_CLIENT_SECRET=

# https://apollo.io - Ücretsiz plan mevcut
APOLLO_API_KEY=

# https://clearbit.com - Ücretsiz katman
CLEARBIT_API_KEY=

# https://rocketreach.co - Sınırlı ücretsiz
ROCKETREACH_API_KEY=

# Email Doğrulama
# https://www.abstractapi.com/email-validation-api - 100/ay ücretsiz
ABSTRACT_API_KEY=
